h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
}

a {
  color: #634496;
  font-weight: bold;
}

.hero.is-primary {
  background: linear-gradient(to bottom, #1d1c25, #431e3f);
}

.hero.is-primary h1 {
  font-size: 5em;
}

#settings-container {
  max-width: 800px;
}

fieldset.field[disabled] {
  position: relative;
}

.feature-option {
  padding-left: 54px;
}
.feature-description.has-options {
  margin-bottom: 0;
}

.feature-option:last-of-type {
  margin-bottom: 1.5rem;
}

fieldset.field[disabled] .disabled-overlay {
  opacity: 0.5;
  cursor: not-allowed;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}
