.header-search-inline-search {
  background-color: #2b253a;
  margin: -10px -10px 0 -10px;
  padding: 0 0 0 4px;
}

.scryfall-search__non-card-element {
  padding: 10px;
}

.scryfall-search__hr {
  border-bottom: 1px solid #e0dee3;
}

.scryfall-search__options-container {
  position: relative;
}

.scryfall-search__external-link-icon {
  display: inline-block;
  width: 12px;
}

.scryfall-search__no-results {
  text-align: center;
}

.scryfall-search__search-results-counter {
  position: absolute;
  top: 10px;
  right: 10px;
}
